{% extends 'index.html' %}

{% block content %}
    <div class="section">
        <div class="section-title">
             <h1 class="section-title__content">
                My Family
             </h1>
        </div>
        <div class="tile-list">

            <div class="tile-list__item">
                <article class="two-sides-card">
                    <div class="two-sides-card__background">
                        <div class="background-image" style="background-image: url('/img/padre.png');"></div>
                    </div>
                    <div class="two-sides-card__layer">
                        <div class="card">
                            <div class="card__border">
                                <p class="card__content">
                                    Juan José: My Father, Director of Educational Robotics RoboRAVE Ibérica - Yohagorobots.com.<br/><br/>
                                     He is the one that introduced me to coding.
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            
            <div class="tile-list__item">
                <article class="two-sides-card">
                    <div class="two-sides-card__background">
                        <div class="background-image" style="background-image: url('/img/lorena.jpg');"></div>
                    </div>
                    <div class="two-sides-card__layer">
                        <div class="card">
                            <div class="card__border">
                                <p class="card__content">
                                    Lorena: My Mother, Ex-president of scouts of Extremadura, and teacher.<br/><br/>
                                    She is always ready for everything.
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            
            <div class="tile-list__item">
                <article class="two-sides-card">
                    <div class="two-sides-card__background">
                        <div class="background-image" style="background-image: url('/img/irene.jpg');"></div>
                    </div>
                    <div class="two-sides-card__layer">
                        <div class="card">
                            <div class="card__border">
                                <p class="card__content">
                                    Irene: My Sister, part of the production and marketing team of the television channel DKISS.<br/><br/>
                                    My role model all these years (don't tell her).
                                </p>
                            </div>
                        </div>
                    </div>
                </article>    
            </div>
            
            <div class="tile-list__item">
                <article class="two-sides-card">
                    <div class="two-sides-card__background">
                        <div class="background-image" style="background-image: url('/img/kaluyruna.jpg');"></div>
                    </div>
                    <div class="two-sides-card__layer">
                        <div class="card">
                            <div class="card__border">
                                <p class="card__content">
                                    Kalú & Runa: My dogs, without work or studies, but at least they are very cute and funny.
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
           
        </div>
    </div>
{% endblock %}
