{% extends 'index.html' %}

{% block content %}
    <section class="section">

        <header class="section-title">
             <h1 class="section-title__content">
                  Hobbies
             </h1>
        </header>

        <div class="row-group">

            <article class="tile">
               
                <div class="tile__wraper" style="background-image: url('/img/correr.jpg');"></div>
               
                <div class="round-box">
                    <p class="round-box__content">
                        Running/Races
                    </p>
                </div>

            </article>

            <article class="tile">
                
                <div class="tile__wraper" style="background-image: url('/img/esgrima.jpg');"></div>
               
                <div class="round-box">
                    <p class="round-box__content">
                        Fencing
                    </p>
                </div>

            </article>

            <article class="tile">
               
                <div class="tile__wraper" style="background-image: url('/img/scouts.jpg');"></div>
                
                <div class="round-box">
                    <p class="round-box__content">
                        Scouts
                    </p>
                </div>
                
            </article>

        </div>
        
    </section>
{% endblock %}
