{% extends 'index.html' %}

{% block content %}
    <div class="section">
        <div class="section-title">
             <h1 class="section-title__content">
                  Hobbies
             </h1>
        </div>
        <div class="row-group">
            <div class="tile">
                <div class="tile__wraper" style="background-image: url('/img/correr.jpg');">  
                </div>
                <div class="round-box">
                    <p class="round-box__content">
                        Running/Races
                    </p>
                </div>
            </div>
            <div class="tile">
                <div class="tile__wraper" style="background-image: url('/img/esgrima.jpg');">   
                </div>
                <div class="round-box">
                    <p class="round-box__content">
                        Fencing
                    </p>
                </div>
            </div>
            <div class="tile">
                <div class="tile__wraper" style="background-image: url('/img/scouts.jpg');">
                </div>
                <div class="round-box">
                    <p class="round-box__content">
                        Scouts
                    </p>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}
