<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/dist/css/master.css" rel="stylesheet">

        <title>{{ App.title }}</title>

        <script src="/dist/js/jquery-3.6.4.js"></script>
    </head>

    <body class="full-page">

        <div id="menu-toggler" class="icon-hamburger">
            <div class="icon-hamburger__inner">
                <div class="icon-hamburger__bar"></div>
                <div class="icon-hamburger__bar"></div>
                <div class="icon-hamburger__bar"></div>
            </div>
        </div>

        <main class="page-wrap">

            <header class="site-bar">
                <div class="site-bar__content">
                    <h1 class="site-title">
                        <a class="site-title__link" href="/">Jorge Ortega Rivera</a>
                    </h1>
                </div>

                <div class="site-bar__nav">
                    <nav class="site-navbar">
                        <ul class="site-navbar__core">
                            <li>
                                <a class="menu-item" href="/skills">
                                    What do I know?
                                </a>
                            </li>
                            <li>
                                <a class="menu-item" href="/where">
                                    Where am I from?
                                </a>
                            </li>
                            <li>
                                <a class="menu-item" href="/hobbies">
                                    Hobbies
                                </a>
                            </li>
                            <li>
                                <a class="menu-item" href="/erasmus">
                                    Why an erasmus?
                                </a>
                            </li>
                            <li>
                                <a class="menu-item" href="/family">
                                    My family
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            {% block content %}
            
            {% endblock %}
            <footer class="site-footer">

                <div class="extended-icon">
                    <div class="extended-icon__base" style="background-image: url('/img/icons/mail.svg');"></div>
                </div>
                <p class="site-footer__content"> Jorge77.ortega@gmail.com</p>
    
            </footer>
        </main>

       

        <section id="sliding-menu" class="sliding-menu">
           
            <div class="sliding-menu__inner">
                
                <header class="site-bar">
                    <div class="site-bar__content">
                        <h1 class="site-title">
                            <a class="site-title__link site-title__link--inverted" href="/">Jorge Ortega Rivera</a>
                        </h1>
                    </div>
                    <div class="site-bar__nav site-bar__nav--darker"></div>
                </header>

                <div class="vertical-menu">
                    <ul class="vertical-menu__core">
                        <li>
                            <a class="vertical-menu-item" href="/skills">
                                What do I know?
                            </a>
                        </li>
                        <li>
                            <a class="vertical-menu-item" href="/where">
                                Where am I from?
                            </a>
                        </li>
                        <li>
                            <a class="vertical-menu-item" href="/hobbies">
                                Hobbies
                            </a>
                        </li>
                        <li>
                            <a class="vertical-menu-item" href="/erasmus">
                                Why an erasmus?
                            </a>
                        </li>
                        <li>
                            <a class="vertical-menu-item" href="/family">
                                My family
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </section>

        <script src="/dist/js/master.js"></script>
    </body>
</html>