{% extends 'index.html' %}

{% block content %}
    <div class="section">
        <div class="row-container">
            <div class="column-container">
                <div class="section-title">
                    <h1 class="section-title__content">
                        Badajoz, Extremadura
                    </h1>
                </div>
                <div class="page-text">
                    <p>
                        The city that raised me, It is not a huge city, rather small to be honest, but it has a lot of personality.
                    </p>
                    <br/>
                    <p>
                        It is in the south-west of Spain, 2 km away from Portugal
                    </p>
                </div>
            </div>
            <div class="container">
                <div class="image-text">
                    <img class="image-text__image" src="/img/vistaBadajoz.jpg">
                    <p class="image-text__text">Look at those views, they are beautiful, right?</p>
                </div> 
            </div>
        </div>
    </div>
{% endblock %}
